 .u-section-1 {
  min-height: 678px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1127px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 38px auto 0;
}

.u-section-1 .u-text-2 {
  width: 700px;
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 808px;
  height: auto;
  margin: 17px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 460px;
  min-height: 38px;
  margin: 33px auto 0;
}

.u-section-1 .u-form-1 {
  height: 419px;
  margin: 33px 75px 0 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 13px;
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-search-1 {
    width: 320px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}