 .u-section-1 {
  min-height: 77px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1208px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1143px;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-1 .u-group-1 {
  width: 878px;
  min-height: 106px;
  height: auto;
  margin: 27px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 15px auto 0;
}

.u-section-1 .u-search-1 {
  height: auto;
  width: 514px;
  min-height: 38px;
  margin: 15px auto 0;
}

.u-section-1 .u-group-2 {
  width: 1058px;
  min-height: 970px;
  height: auto;
  margin: 15px 41px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 967px;
  margin: 31px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 938px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px;
}

.u-section-1 .u-container-layout-22 {
  padding: 10px;
}

.u-section-1 .u-container-layout-23 {
  padding: 10px;
}

.u-section-1 .u-container-layout-24 {
  padding: 10px;
}

.u-section-1 .u-container-layout-25 {
  padding: 10px;
}

.u-section-1 .u-container-layout-26 {
  padding: 10px;
}

.u-section-1 .u-container-layout-27 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2680px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 942px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 913px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-search-1 {
    width: 516px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2803px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-search-1 {
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-search-1 {
    width: 320px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}