.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.destination-list {
    
    display: flex;
    flex-wrap: wrap;
} 

.destination-item {
    width: 25%;
    padding: 8px;
    overflow: hidden;
}
.destination-item2 {
    width: 33.33%;
    padding: 8px;
    overflow: hidden;
}

.destination-item img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 186px;
}

.destination-item h3 {
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
}

.destination-item p {
    color: #666;
    margin: 0;
}
.destination-item2 img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 186px ;
}

.destination-item2 h3 {
    font-size: 18px;
    color: #fff;
    margin: 10px 0;
}

.destination-item2 p {
    color: #666;
    margin: 0;
}

@media (max-width: 768px) {
    .destination-item {
        width: 50%;
    }
    .destination-item2 {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .destination-item {
        width: 100%;
    }
    .destination-item2 {
        width: 100%;
    }
}

.fix-img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height:auto;
}

.liked {
    color: orangered ;
}

.gray-color {
    color: #7F7F7F ;
}

.saved-color {
    color: yellow ;
}

.limited-lines {
    max-height: 3em; /* Giới hạn chiều cao tối đa */
    overflow: hidden; /* Ẩn nội dung vượt quá chiều cao */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa */
    -webkit-box-orient: vertical;
}

.rating-outer {
    position: relative;
    color: red;
    display: inline-block;
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-outer {
    position: relative;
    color: red;
    display: inline-block;
}

.rating-inner {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.icon::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.rating-outer::before,
.rating-inner::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f005 \f005 \f005 \f005 \f005";
}

.rating-inner::before {
    font-weight: 900;
}

/*          Panels with nav tabs.           */
/*link https://bootsnipp.com/snippets/MaA0A*/

.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
}

    .with-nav-tabs.panel-info .nav-tabs > .open > a,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
        color: #31708f;
        background-color: #bce8f1;
        border-color: transparent;
    }

.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}

.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}




/*               LOCATION BY CATEGORY PAGE                 */
.scroll-containercate {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative;
    height: 73px;
}

.category {
    display: flex;
    padding: 8px;
}

.scroll-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    background-color: #f1f1f1;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.activeMakeColor {
    background-color: #ff0000; /* Màu nền muốn áp dụng khi thẻ được nhấp vào */
}


/*                                */


/*                                */


/*                                */