.u-section-1 .u-sheet-1 {
  min-height: 512px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 24px;
  margin-bottom: 35px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 65px;
  height: auto;
  margin: 20px 25px 20px 45px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -22px 172px 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: auto;
  height: auto;
  width: 720px;
  margin: 9px auto 20px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 13px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  line-height: 1.1;
  margin: 9px auto 0 30px;
}

.u-section-1 .u-group-3 {
  min-height: auto;
  height: auto;
  width: 725px;
  margin: 0 auto 20px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 10px 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 9px auto 0 0;
  padding: 0 12px 0 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  margin: -21px auto 0 110px;
  padding: 0 4px;
}

.u-section-1 .u-icon-2 {
  margin-top: 5px;
}

.u-section-1 .u-group-4 {
  min-height: 65px;
  height: auto;
  width: 720px;
  margin: 0 auto 20px;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 10px;
  padding-left: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 11px auto 0 75px;
}

.u-section-1 .u-image-1 {
  min-height: 45px;
  width: 45px;
  height: auto;
  margin: -24px auto 0 14px;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  margin: -43px auto 0 165px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 9px 0 75px;
}

.u-section-1 .u-group-6 {
  height: auto;
  width: 725px;
  margin-right: auto;
  margin-left: auto;
}

.u-section-1 .u-container-layout-7 {
  padding-bottom: 10px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 5px auto 0 75px;
}

.u-section-1 .u-image-2 {
  min-height: 45px;
  width: 45px;
  height: auto;
  margin: -24px auto 0 14px;
}

.u-section-1 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: -43px auto 0 165px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 3px 11px 0 75px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-9 {
  padding: 20px 0;
}

.u-section-1 .u-group-8 {
  min-height: 146px;
  height: auto;
  width: 357px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 9px 8px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 17px auto;
}

.u-section-1 .u-icon-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-group-9 {
  width: 318px;
  height: auto;
  margin: 0 auto 5px 7px;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.96rem;
  background-image: none;
  letter-spacing: 0px;
  line-height: 1.1;
  margin: 5px 8px 0 35px;
}

.u-section-1 .u-text-13 {
  margin: -32px auto 0 5px;
}

.u-section-1 .u-icon-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-group-10 {
  min-height: 139px;
  height: auto;
  width: 357px;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 17px auto;
}

.u-section-1 .u-group-11 {
  min-height: 60px;
  height: auto;
  width: 335px;
  margin: 0 9px 10px;
}

.u-section-1 .u-container-layout-13 {
  padding: 3px 0;
}

.u-section-1 .u-image-3 {
  width: 100px;
  min-height: 60px;
  height: auto;
  margin: 0 auto 0 12px;
}

.u-section-1 .u-container-layout-14 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.96rem;
  background-image: none;
  line-height: 1.1;
  margin: -48px 11px 0 120px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: NaNpx;
    width: 627px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-3 {
    min-height: NaNpx;
    width: 627px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-left: 12px;
  }

  .u-section-1 .u-group-4 {
    width: 627px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-1 .u-group-6 {
    width: 627px;
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -14px;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: -53px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-1 .u-group-8 {
    width: 313px;
    height: auto;
  }

  .u-section-1 .u-group-9 {
    width: 297px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -40px;
  }

  .u-section-1 .u-group-10 {
    width: 313px;
    height: auto;
  }

  .u-section-1 .u-group-11 {
    width: 100px;
    margin-top: 400px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 207px;
    height: auto;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -274px;
    margin-right: 0;
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 127px;
  }

  .u-section-1 .u-group-2 {
    width: 480px;
  }

  .u-section-1 .u-group-3 {
    width: 480px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 480px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 124px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 480px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-8 {
    width: 240px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 37px;
  }

  .u-section-1 .u-group-9 {
    width: 224px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
  }

  .u-section-1 .u-group-10 {
    width: 240px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 78px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 88px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 88px;
  }
}