html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Mulish, sans-serif !important;
    font-weight: 400;
}

.font {
    font-family: Mulish, sans-serif !important; 
}

.scrollable-dropdown {
    max-height: 50px;
    overflow-y: auto;
}
.hidden {
    display: none !important;
}

.show {
    display: block !important;
}




.td-scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 4px;
    right: 5px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    transform: translate3d(0, 70px, 0);
    -webkit-transform: translate3d(0, 70px, 0);
    -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}

    .td-scroll-up .td-icon-menu-up {
        position: relative;
        color: #fff;
        font-size: 20px;
        display: block;
        text-align: center;
        width: 40px;
        top: 7px;
    }

@media (max-width: 767px) {
    .td-scroll-up.td-hide-scroll-up-on-mob {
        display: none !important;
    }
}

.td-scroll-up-visible {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
/* theme style customizer */

.td-js-loaded .td-scroll-up {
    display: block !important;
}

.td-icon-menu-up:before {
    content: '\e809';
}


.rating-stars {
    display: inline-block;
}

.star {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: yellow;
}



/* CSS FOR USER ACCOUNT */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}
h6::before {
    content: "\2022"; /* Sử dụng mã Unicode của dấu chấm tròn */
    margin-right: 8px; /* Khoảng cách giữa dấu chấm và nội dung */
    color: #000; /* Màu sắc của dấu chấm */
}
.limited-lines {
    max-height: 6.4em; /* Giới hạn chiều cao tối đa */
    overflow: hidden; /* Ẩn nội dung vượt quá chiều cao */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Số dòng tối đa */
    -webkit-box-orient: vertical;
}
.limited-lines-2 {
    max-height: 2.8rem; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
}

.limited-lines-2 > p {
    padding: 0 0 !important;
    margin: 0 0 !important;
    font-size: 14px !important;
}
.ThuNhoDienTich {
    width: 20%;
}
@media (max-width: 776px) {
    .Compatible {
        display: block;
        font-size: 14px;
        margin-top: 60px;
    }
    .ThuNhoDienTich{
        width: 0px;
    }
}



/*      KHÔNG GIAN KHÁC         */

/*Login*/
.addImageLogin {
    background-image: url("/images/ngo-ngang-voi-ve-dep-pho-co-hoi-an-nhin-tu-tren-cao.jpg");
    background-size: 100vw;
    background-position: center;
}
.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    object-fit: cover;
}

