.table thead th, .table tbody td {
    padding: 8px;
    border-bottom: 0;
    border-left: 2px solid #e9ecef;
}

    .table thead tr {
        border-bottom-width: 2px;
    }

    .table thead th:last-child,
    .table tbody td:last-child {
        border-right: 2px solid #e9ecef;
    }

.table tbody td {
    border-left-width: 2px;
    white-space: unset;
}

.table tbody tr td:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table tr {
    border-top-width: 2px;
}

.table tbody tr:last-child {
    border-bottom-width: 2px;
}

.table tbody tr td:last-child > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 13px;
    font-size: 15px;
    color: #000;
    border: unset;
    margin-bottom: 2px;
    background-color: #fbcf33;
    border-radius: 4px;
    width: 40px;
}

    .table tbody tr td:last-child > a:hover {
        background-color: #82d616;
    }

.no-margin {
    margin: 0;
}
