@{
    ViewData["Title"] = "Địa điểm";
}
<div>
    <label for="search-input">Enter a location:</label>
    <input type="text" id="search-input" placeholder="Type here...">
    <button id="search-button" onclick="">Search</button>
</div>
<div id="map" style="height:400px" >

    
</div>
@*<script>
    let map;

 async function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 10.8231, lng: 106.6297 },
            zoom: 14,
        });

        const searchInput = document.getElementById("search-input");
        const searchButton = document.getElementById("search-button");

        searchButton.addEventListener("click", () => {
            const searchQuery = searchInput.value;
            const request = {
                query: searchQuery,
                fields: ["name", "geometry"],
            };

            const service = new google.maps.places.PlacesService(map);

            service.findPlaceFromQuery(request, (results, status) => {
                if (status === google.maps.places.PlacesServiceStatus.OK && results) {
                    const firstResult = results[0];
                    const location = firstResult.geometry.location;
                    const name = firstResult.name;
                    const marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: name,
                    });
                    map.setCenter(location);
                }
            });
        });
    }


</script>
@*<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsfGwLsAoCca2agIBcDK60Tzrk2AZ-3UM&callback=initMap"></script>*@
@*<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsfGwLsAoCca2agIBcDK60Tzrk2AZ-3UM&libraries=places&callback=initMap"></script>*@

