


<link href="~/css/places_style.css" rel="stylesheet" />

<div class="align-items-center">
    <h3>Lựa chọn điểm đến của bạn qua 63 tỉnh thành Việt Nam</h3>
</div>

<div class="container">
    <h2 style="display:block; text-align: center">Lựa chọn điểm đến của bạn</h2>
    <div class="destination-list">
        <a class="destination-item" asp-action="PlaceList" asp-controller="Place" asp-route-provinceName="Hồ Chí Minh">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2019/06/ChợBếnThành-HanoiTourism_optimized-e1560829173317.jpg" alt="Destination 1" class="fix-img">
            <div style="background-color: rgba(0, 0, 0, 0.5); color: #fff">
                <h3 >Du lịch Hồ Chí Minh </h3>
            </div>
            <p>Mô tả điểm đến 1</p>
        </a>
        <a class="destination-item">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2022/09/dia-diem-checkin-ha-noi-khamphadisan.jpg" alt="Destination 2" class="fix-img">
            <h3>Du lịch Hà Nội</h3>
            <p>Mô tả điểm đến 2</p>
        </a>
        <a class="destination-item">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2022/03/hoi-an-huyen-ao-voi-goc-nhin-tu-tren-cao-ivivu-4.jpg" alt="Destination 3" class="fix-img">
            <h3>Du lịch Hội An</h3>
            <p>Mô tả điểm đến 3</p>
        </a>
        <a class="destination-item">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2016/05/bac-ninh-e1463021073448.jpg" alt="Destination 3" class="fix-img">
            <h3>Du lịch Bắc Ninh</h3>
            <p>Mô tả điểm đến 4</p>
        </a>
        <a class="destination-item">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2019/06/ChợBếnThành-HanoiTourism_optimized-e1560829173317.jpg" alt="Destination 1" class="fix-img">
            <h3>Du lịch Hồ Chí Minh</h3>
            <p>Mô tả điểm đến 1</p>
        </a>
        <a class="destination-item">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2019/07/TrungLương1-QuyNhơnLand_optimized.jpg" alt="Destination 2" class="fix-img">
            <h3>Du lịch Bình Định</h3>
            <p>Mô tả điểm đến 2</p>
        </a>
        <a class="destination-item">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2022/03/hoi-an-huyen-ao-voi-goc-nhin-tu-tren-cao-ivivu-4.jpg" alt="Destination 3" class="fix-img">
            <h3>Du lịch Hội An</h3>
            <p>Mô tả điểm đến 3</p>
        </a>
        <a class="destination-item">
            <img src="https://khamphadisan.com.vn/wp-content/uploads/2016/05/bac-ninh-e1463021073448.jpg" alt="Destination 3" class="fix-img">
            <h3>Du lịch Bắc Ninh</h3>
            <p>Mô tả điểm đến 4</p>
        </a>
        <!-- Thêm các mục điểm đến khác tại đây -->
    </div>
</div>